.tab-container-card {
  border-radius: 0px !important;
}
.margin-x-desktop {
  margin-left: 15%;
  margin-right: 15%;
}
.tab-container {
  ::v-deep .v-tabs-slider-wrapper {
    height: 3px !important;
    .v-tabs-slider {
      border-radius: 30px !important;
    }
  }
}
.tab {
  &.v-tab--active {
    color: #13aba3 !important;
  }
  min-width: 90px !important;
  max-width: 93px !important;
  margin-left: 1px !important;
  padding: 0px !important;
  border-radius: 3px 0px 0px 0px;
}

.tab-mobile {
    width: 370px !important;
    margin-left: 4% !important;
}
.cursor-pointer{
    cursor: pointer;
}
