.container-width {
  max-width: 590px !important;
}
.appeal-text {
  width: 100% !important;
  max-height: 285px !important;
  background: #fffff5 !important;
  border-radius: 30px;
}
.margin-top-desktop {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}
.padding-bottom-desktop {
  padding-bottom: 89px !important;
}