.post-page {
  .subheading {
    width: 458px;
    @media (max-width: 767px) {
      width: 321px;
    }
  }
  .sort-label {
    line-height: 35px;
  }
  .post-divider {
    max-width: 1250px;
    border-color: #e5e5e5 !important;
    @media (max-width: 767px) {
      width: 90%;
    }
  }
  .post-row {
    row-gap: 25px;
    .col {
      @media (max-width: 767px) {
        width: 50%;
        &:nth-child(odd) {
          padding-right: 5px;
        }
        &:nth-child(even) {
          padding-right: 8px;
        }
      }
    }
  }
}
.post-tags {
    color: #228D88 !important;
}

