.mw-1000{
    max-width: 1000px;
    margin: auto;
}
.border-radius0{
    border-radius: 0;
}
.container-width{
    max-width: 590px !important;
}
.desktop-padding{
    padding-left: 15%;
    padding-right: 15%;
}
.v-text-field--rounded {
    border-radius: 28px !important;
}
.form{
    max-width: 590px;
    margin: auto;
}