.desktop-cover{
    top: 0;
    right: 0;
    height: 100%;
    z-index: 0;
}
.phone-cover{
    z-index: 1;
}
.theme--light.v-btn {
    color: #13aba3;
}
.v-icon.v-icon{
    font-size: 22px !important;
}
.mobile_404{
    max-width: 216px;
    max-height: 154px;
}