.mw-1000{
    max-width: 1000px;
    margin: auto;
}
.border-radius0{
    border-radius: 0;
}
.desktop-padding{
    padding-left: 15%;
    padding-right: 15%;
}
ul{
    list-style: auto;
    li{
        padding-left: 12px;
    }
}
.v-application ul{
    padding-left: 0 !important;
}
